/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 *= require_tree .
 
 */
@import "bootstrap-sprockets";
@import "bootstrap";



.background-image {
	background: image-url('https://static.pexels.com/photos/57705/lake-evening-sunset-abendstimmung-57705.jpeg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
}


.header-text {
	text-align:Center;
	font-size: 200px;
	padding-top: 5%;

}


.h1 {
    text-align:Center;
    font-size: 20px;
    padding-right:20%;
}


.h2 {
	text-align:Center;
	font-size: 60px;
}


.table, th, td {
    border: 3px solid black;
}


.nav-main .logo {
	float:left;
	height:40px;
	padding:15px 30px;
	font-size:1.4em;
	line-height:40px;
}

.nav-main {
	width:100%;
	background-color:#222;
	height:70px;
	color:#fff;
	position:fixed;
}

.nav-main > ul {
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;
}


.nav-main > ul > li {
	float:left;
}

.nav-item {
	display:inline-block;
	padding: 15px 20px;
	height:40px;
	line-height:40px;
	margin:0;
}


.nav-item:hover {
	background-color:#111;
	cursor:pointer;
	height:70px;
}
